@{
    ViewData["Title"] = "Home Page";
}

<!-- <div class="text-center"> -->
<div class="jumbotron">
    <h1 class="display-4">NBA Players 2021</h1>
    <p>Learn more about the <a href="https://www.nba.com/history">history of the NBA</a>.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to my custom NBA Player application</h2>
        <p>
            This appplication uses Entity Framework Core in an ASP.NET Core Web MVC application.

        </p>
    </div>

    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the application by following the steps in a series of tutorials.</p>
        <p>
            <a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">
                See the tutorial &raquo;
            </a>
        </p>
    </div>

    <div class="col-md-4">
        <h2>2021 NBA All Stars</h2>
        <p>You can see updates about <a class="btn btn-default"
            href="https://www.nba.com/allstar/2021"> 2021 All Star Weekend here
                 &raquo</a>
        </p>
    </div>

</div>