@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron"> @*Deleted text-center*@
    <h2 class="display-4">Gendac Products Assigment MVC</h2>
    <h1>by Joe Mahlokozela</h1>
    <p>Learn more about <a href="https://www.gendac.co.za/">Gendac</a>.</p>
</div>
