@{
    ViewData["Title"] = "Home Page";
}

<!-- <div class="text-center"> -->
<div class="jumbotron">
    <h1 class="display-4">Gendac API Assignment</h1>
    <h2>done by Joe Mahlokozela</h2>
    <p>Learn more about <a href="https://www.gendac.co.za">Gendac</a>.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Description</h2>
        <p>
            The Application fetches data from the Gendac API and
            seeds in into the database. The application has CRUD features for
            the user to manipulate Products.
        </p>
    </div>

    <div class="col-md-4">
        <h2>Additional features</h2>
        <p>
            The application has input validation for the entered fields and the
            culture of the application is South African.
        </p>
    </div>

    <div class="col-md-4">
        <h2>Download the ReadMe.txt file</h2>
        <p>
            This section will contain the link to my .txt file
        </p>
    </div>
</div>
